* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v45_19 {
  width: 414px;
  height: 896px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v45_95 {
  width: 20px;
  height: 19px;
  background: rgba(255,255,255,1);
  opacity: 0.20000000298023224;
  position: absolute;
  top: 427px;
  left: 238px;
  transform: rotate(-44deg);
}
.v45_100 {
  width: 8px;
  height: 7px;
  background: rgba(255,255,255,1);
  opacity: 0.20000000298023224;
  position: absolute;
  top: 154px;
  left: 240px;
  transform: rotate(-44deg);
}
.v45_101 {
  width: 41px;
  height: 7px;
  background: rgba(255,255,255,1);
  opacity: 0.20000000298023224;
  position: absolute;
  top: 149px;
  left: 255px;
}
.v46_4 {
  width: 343px;
  height: 230px;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 60px;
  overflow: hidden;
}
.v46_0 {
  width: 337px;
  height: 230px;
  background: rgba(249,167,31,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 31px;
  border-top-right-radius: 31px;
  border-bottom-left-radius: 31px;
  border-bottom-right-radius: 31px;
  overflow: hidden;
}
.v46_1 {
  width: 311px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 48px;
  left: 13px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
  
}

